body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  width: 100px;
  height: 100px;
  background-color: red;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: changeColor 3s linear infinite;

}

@keyframes changeColor {
  0% {
    background-color: red;
    transform: translate(50%, -50%) rotate(0deg);
  }

  60% {
    background-color: orange;
    transform: translate(50%, -50%) rotate(180deg);
  }

  100% {
    background-color: green;
    transform: translate(50%, -50%) rotate(360deg);
  }
}
